.serv {
    font-size: large;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-image: url("../../img/OurServices.png");
    background-size: 100%;
    height: 350px;
}

.font {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
}

.servicess{
    
}