.explanation{
    padding: 16px;
    margin: 16px;
}

.explanation #S{
    padding-right: 12px;
}

.to-fill{
    padding: 32px;
}

.contact{
    background-color: whitesmoke;
    padding: 16px;
}

.contact .btn{
    margin-left: 40%;
    margin-bottom: 16px;
}

.search{
    padding-top: 16px;
}

.subscribe{
    padding-top: 16px;
}

.subscribe .sub-form{
    padding: 16px;
    background-color: whitesmoke;
}
/*
#header
    margin: 0;
    background: url(../img/header-bg.jpg) no-repeat center/cover;
    width: 100%;
    height: 50vh;
    position: relative;
    overflow-y: hidden; 
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}*/

.right {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
  }