.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.featured-article {
    position: relative;
    margin-bottom: 1em;
}

.featured-article .block-title {
    /* Position & Box Model */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* background */
    background: rgba(0, 0, 0, 0.7);
    /* Width/Height */
    padding: .5em;
    width: 100%;
    height: 100px;
    /* Text color */
    color: #fff;
    font-size: 12pt;
}

.featured-article .block-title h2 {
    margin: 0;
}

.by-author {
    font-style: italic;
    line-height: 1.3;
    color: #aab6aa;
}

.thumb {
    display: block;
    width: 100%;
    margin: 0;
}

.gabung {
    padding: 0;
}