.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  width: 100%;
  height: auto;
  background-color: aliceblue;
}

.map{
  width: 100%;
  height: auto;
  background-color: white;
}
.title{
  display: inline-block;
}
.cardView{
  max-width: 18rem;
  margin-right: 2rem;
}

.tombol{
  margin-top: 1rem;
  padding: 13px;
  font-size: 16px;
}
.h5style{
  font-size: 16px;
}
.ulStyle{
  font-size: 14px;
}
.mapsStyle{
  margin-top:60px;
}
.mapsView{
  overflow:hidden;
  width: 100%;
  position: relative;
}
.mapPost{
  position: absolute;
  width: 80%;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
}
.thisPowered{
  line-height: 1.8;
  font-size: 2px;
  background: #fff;
}
.pagenation{
  margin-top: 15px;
}